html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(235,235,235);
    font-family: "Poppins", sans-serif;
}
header{
    height: 6rem;
    background-color: rgb(235,235,235);
}
h1{
    
    font-size: 3.5rem;
    font-weight: bolder;
    color: #2D72F1;
    padding-left: 5.7rem;
    padding-top: 0.6rem;
}

.main-container{
    display: flex;
}
.left{
    width: 30%;
    height: calc(100vh - 6.06rem);
    background-color: rgb(235,235,235);
}
.right{
    width: 70%;
    height: calc(100vh - 6.06rem);
    /* background-color: rgb(235,235,235); */
    background-color: burlywood;
}
.form-components{
    display: flex;
    flex-direction: column;

}
.form-div{
    padding: 0.5rem 2rem 0 7rem;
    min-width: 30%;
}
label{
    padding: 0.2rem 0 0.2rem 0;
    /* color: #2D72F1; */
    color: #4173c9;
    font-weight:600;
}



button{
    width: 100%;
    height: 2.9rem;
    background-color: #2D72F1;
    border:none;
    border-radius: 4px;
    color: white;
    margin-top: 1rem;
    font-weight: 500; 
    font-size: 1.2rem;
    cursor: pointer;
}


input,select{
    height: 2.7rem;
    font-weight: 500;
    border: 1px solid #7996C9;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    padding: 0.3rem;
    padding-left: 0.8rem;
    border-radius: 4px;
}
select{
    margin-bottom: 1.4rem;
    appearance: none;
    padding-right: 30px; /* Adjust padding to accommodate the arrow */
    background-color: rgb(235,235,235);
    border-radius: 5px;
    cursor: pointer;
}

select option{
    font-weight: bold;
    padding-left: 2rem;
}
input{
    box-sizing: border-box;
    margin-bottom: 2rem;
}
#last-input{
    margin-bottom: 0.5rem;
}


.right{
    background-color: rgb(235,235,235);
}
.task-div{
    width: 60%;
    height: 25vh;
    background-color: white;
    display: flex;
    /* justify-content: center; */
    padding: 2rem;
    border-radius: 10px;
    margin-top: 5rem;
    margin-left: 5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.bosch-img{
    width: 30%;
}
.b-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 2rem;
}
img{
    height: 60px;
    width: 60px;
}

.task-div-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.task-div-content h2{
    color: #38419D;
    font-size: x-large;
    font-weight: 600;
}
.priority{
    width: 27%;
    background-color: #F15F91;
    text-align: center;
    height: 1.5rem;
    border-radius: 7px;
    color: white;
    padding-top: 7px;

}
.DM{
    display: flex;
    justify-content: space-between;
}
.dev,.man{
    background-color: lightgrey;

    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 5px;
    color:#527ABF;
    font-size: 1.06rem;
    font-weight: 500;
}
.date-co{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.date-co span{
    margin-left: 10px;
}
.user-info{
    margin-left: 10px;
    color: #527ABF;
    font-weight: 500;
}
.date-co i{
    color: grey;
}
.comment{
    color: #527ABF;
    font-weight: 500;
}
.date{
    align-self: flex-end;
    color: grey;
}

.people{
    display: flex;
    color: #2D72F1;
}
.people i{
    color: grey;
}